
5dChessCompiler/.vs/5dChessCompiler/v16/.suo
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
*.testlog
*.manifest
*.vcxproj
*.filters
*.user
*.log
*.enc
*.obj
*.pch
*.lastbuildstate
*.tlogs
*.idb
*.pdb
*.vcxitems
*.exp
*.lib
*.exe
*.ilk
*.dll
*.sln
*.tlog
